# Manejando textos en python

Los textos representan una secuencia de cero o más caracteres. Un string es una estructura de datos inmutable. Esto significa que no puede ser cambiada.

In [94]:
str1 = 'ejemplo de cadena'
print(str1)

ejemplo de cadena

```id(str_var)``` obtiene el identificador único (la posición en memoria) de la variable

In [95]:
id(str1)

1786354876256

In [96]:
str1 = 'otra cosa'
id(str1)

1786354986288

Para obtener la longitud de una cadena se puede utilizar la función len  ```len(str)```:

In [97]:
a = 'May the Force be with you.'
len(a)

26

In [98]:
b = ''
len(b)

0

## El operador subscript[]

Accede los elementos de un string, lista, tupla y demás estructuras de datos.

In [99]:
name = "Minch Yoda"
print(name[0])
print(name[6])

M
Y

In [100]:
print(len(name))

10

In [101]:
#name[10]

In [102]:
name[-1]

'a'

In [103]:
name[-10]

'M'

## Dividiendo cadenas (slices)

En muchos casos es necesario obtener porciones de una cadena. Se maneja la notación ```[start:end:step]```

In [104]:
name[0:5]

'Minch'

In [105]:
name[:5]

'Minch'

In [106]:
name[6:10]

'Yoda'

In [107]:
name[::-1]

'adoY hcniM'

## Métodos interesantes con Strings

Para contar los caracteres en una cadena dada se puede utilizar ```count(substr), count(substr, start, end)```:

In [108]:
str1 = 'The avengers'
str1.count('e')

3

Es posible contar las ocurrencias de los elementos en una porción de la cadena:

In [109]:
str1.count('e',0,3)

1

In [110]:
str1.count('e',4,12)

2

In [111]:
cad = 'abcabcabcabcabc'
cad.count('abc')

5

En algunos casos se requiere encontrar primer el índice de una subcadena en la cadena dada. Para esto se puede usar el método ```find()```. La sintaxis de ```find``` es la siguiente:

In [112]:
str1 = 'All we have to decide is what to do with the time that is given us.'
str1.find('we', 0, len(str1))

4

Para encontrar el último indice ```rfind``` de una cadena se puede usar:

In [113]:
str2 = 'It is not despair, for despair is only for those who see the end beyond all doubt. We do not.'
print('first:', str2.find('despair'))
print('last: ', str2.rfind('despair'))

first: 10
last:  23

## Métodos basados en el case de una cadena

In [117]:
s = input() #lee una cadena
print(s.lower())

arles
arles

In [116]:
s = input() #lee una cadena
print(s.upper()) #muestra la cadena en mayúsculas

lalala
LALALA

Para poner en mayúsculas la primera letra de una cadena ```capitalize()```

In [51]:
name = 'arles'
print(name.capitalize())

Arles

Para convertir el primer caracter de cada palabra en la cadena se puede usar ```title()```:

In [55]:
str1 = 'cien años de soledad'
title = str1.title() 
print(title)
print(str1)

Cien Años De Soledad
cien años de soledad

Para intercambiar mayúsculas por minúsculas en una cadena se puede usar ```swapcase()```:

In [56]:
title.swapcase()

'cIEN aÑOS dE sOLEDAD'

## strip 

Cuando se está procesando un texto, a veces se encuentran caracteres al principio o al finalizar una cadena. Por ejemplo ```" ciudad de Bogotá "``` y ```" ICPC competition col"```

In [57]:
str1 = " ciudad de Bogotá "
str1.strip()

'ciudad de Bogotá'

In [58]:
str1 = " ciudad de Bogotá "
str1.rstrip()

' ciudad de Bogotá'

In [59]:
str1 = " ICPC competition col"
str1.rstrip("col")

' ICPC competition '

## String split methods

A veces se tienen strings definidas por partes como "05-06-2020" y "Arles Rodríguez" y se desea procesar u obtener una de las partes de la cadena. ```str1.split("delimiter", num)```

In [68]:
sdate = "05-06-2020"
sp = sdate.split("-")
print('año: ' + sp[2])

año: 2020

In [65]:
sdate = "05-06-2020"
sdate.split("-", 1)

['05', '06-2020']

In [146]:
### Split

cad = str(input())
num1, num2 = cad.split(' ')
print('num 1:' + num1)
print('num 2:' + num2)
print(num1 + num2)

3 233
num 1:3
num 2:233
3233

In [ ]:
#en este código se pueden digitar dos números separados por &. Ejemplo 434354&23782375
s = input()
a,b = (int(x) for x in s.split("&"))
print("a=" + str(a))
print("b=" + str(b))
print("a+b=" + str(a+b))

Para empezar de derecha a izquierda:

In [70]:
sdate = "05-06-2020"
sdate.rsplit("-", 1)

['05-06', '2020']

## Justificación de cadenas

Existen cuatro métodos para justificar cadenas:

- ```ljust()``` justificar una cadena a la izquierda
- ```rjust()``` justificar una cadena a la derecha
- ```center()``` centrar una cadena
- ```zfill()``` llenar una cadena con ceros

In [76]:
str1 = 'Bogotá'
str1.ljust(15, "#")

'Bogotá#########'

In [77]:
str1 = 'Bogotá'
str1.rjust(15, "#")

'#########Bogotá'

In [78]:
str1 = 'Bogotá'
str1.center(15, "#")

'#####Bogotá####'

In [80]:
account = '123456789'
account.zfill(15)

'000000123456789'

In [82]:
binary_num = '10101010'
binary_num.zfill(16)

'0000000010101010'

Reemplazar una palabra de una cadena por otra: ```replace(old_str, new_str)```:

In [87]:
str1 = 'cien años de soledad'
print(str1)
rep = str1.replace('cien','70')
print(rep)
rep = rep.replace('años','días')
print(rep)
rep = rep.replace('soledad','clases sincrónicas!')
print(rep)

cien años de soledad
70 años de soledad
70 días de soledad
70 días de clases sincrónicas!

Crear una lista a partir de una palabra:

In [118]:
lista = ['cien', 'años', 'de', 'soledad']
" ".join(lista)

'cien años de soledad'

In [119]:
"".join(lista)

'cienañosdesoledad'

In [120]:
"-".join(lista)

'cien-años-de-soledad'

## Métodos booleanos sobre cadenas

Utilizados para validar si una cadena dada cumple o no con una propiedad.

- ```endswith```: saber si una cadena termina con
- ```startswith```: saber si una cadena empieza con
- ```isalpha```: saber si una cadena contiene letras únicamente
- ```isalnum```: saber si una cadena contiene números y letras únicamente (alfanumérico)
- ```isdigit```: saber si una cadena contiene sólo dígitos.
- ```isspace```: saber si una cadena contiene sólo espacios.
- ```istitle```: saber si una cadena es un título
- ```islower```: saber si una cadena contiene todos sus caracteres en minúsculas
- ```isupper```: saber si una cadena contiene todos sus caracteres en mayúsculas

In [128]:
text = "Cien años de soledad."
result = text.endswith('soledad.')
# returns False
print(result)

True

In [130]:
text = "Cien años de soledad."
result = text.startswith('años',5,len(text))
print(result)

True

In [131]:
str1 = 'lasquinceletras'
str1.isalpha()

True

In [132]:
str2 = 'las quince letras'
str2.isalpha()

False

In [133]:
str3 = 'edad:15'
str3.isalpha()

False

In [134]:
str4 = 'edad15'
str4.isalnum()

True

In [135]:
str5 = 'edad15#'
str5.isalnum()

False

In [136]:
str_num = '123456789'
str_num.isdigit()

True

In [137]:
strs = " "
strs.isspace()

True

In [138]:
strs = 'Cien Años De Soledad'
strs.istitle()

True

In [148]:
str1 = 'pepe'
str1.islower()

True

In [140]:
str1 = 'pepe#235252'
str1.islower()

True

In [141]:
str1 = 'PEPE MUNCK'
str1.isupper()

True

Mínima ó máxima letra alfanumérica ```min```, ```max```:

In [142]:
min('abcdario')

'a'

In [143]:
max('abcdario')

'r'

In [145]:
## Saber si una palabra o letra está en una cadena

text = 'cien años de soledad'

if 'años' in text:
    print('yes')

yes

Es posible iterar cada letra de la cadena

In [147]:
s = "hola amigos queridos"

for c in s:  #se puede iterar cada letra de la cadena
  print(c + ",", end='')

h,o,l,a, ,a,m,i,g,o,s, ,q,u,e,r,i,d,o,s,

### Ejercicio 1: Extraer nombres de universidades Colombianas

Dada una lista de Universidades Colombianas, obtener el nombre de sitios web. Se asume que un nombre de universidad está entre los caracteres www.  y edu.co. Por ejemplo de www.konradlorenz.edu.co se obtiene konradlorenz.

*Entrada:*
Un numero n indicando la cantidad de nombres de sitios web a procesar

*Salida:*
Listado de posibles nombres de universidades.

*Ejemplo:*

<table>
    <tr>
        <td>
        Input
        </td>
        <td>
        Output
        </td>
    </tr>
    <tr>
        <td>
        3<br>
        www.konradlorenz.edu.co<br>
        www.unal.edu.co<br>
        www.udistrital.edu.co
        </td>
        <td>
        konradlorenz<br>
        unal<br>
        udistrital<br>
        </td>
    </tr>   
</table>

### Ejercicio 2: Validador

Al pequeño Sam le gusta escribir al reves. Sin embargo ha escrito unas cadenas muy largas y se tiene la traducción. Sam necesita su ayuda para saber si lo que ha escrito al revés es lo mismo que piensa.
Entrada:
Dos Strings uno con la cadena al derecho y otro con la posible cadena invertida.
Salida:
La palabra SI si la palabra corresponde a su versión invertida.  La palabra NO en caso contrario.
Ejemplo:

<table>
    <tr>
        <td>Input</td><td>Output</td>
    </tr>
    <tr>
        <td>
No tengo ningún consejo para darle a aquel que desespera.<br>
.arepsesed euq leuqa a elrad arap ojesnoc núgnin ognet oN
        </td><td>SI</td>
    </tr>
 <table>

## Ejercicio 3: mAYUSCULAS PEGADAS
A veces al escribir cosas de afán suele pasar que se queda el teclado con la tecla de caps lock pegada. Su misión detectar si esto sucedió y escribir la cadena correctamente.

Entrada: Una cadena de texto
Salida: La cadena escrita correctamente

Ejemplo 1:

<table>
    <tr><td>Input</td><td>Output</td>
    <tr>
        <td>No tengo ningún consejo para darle a aquel que desespera.</td>
        <td>No tengo ningún consejo para darle a aquel que desespera.</td>
     </tr>
<table>
    
Ejemplo 2:

<table>
    <tr><td>Input</td><td>Output</td>
    <tr>
        <td>cAPS LOCK</td>
        <td>Caps LOCK</td>
     </tr>
<table>

	
Ejemplo 3:

<table>
    <tr><td>Input</td><td>Output</td>
    <tr>
        <td>cien años de soledad</td>
        <td>cien años de soledad</td>
     </tr>
<table>

Ejemplo 3:
<table>
    <tr><td>Input</td><td>Output</td>
    <tr>
        <td>Cien años de sOLEDAD</td>
        <td>Cien años de Soledad</td>
     </tr>
<table>

## Referencias

Das, B. N. (2017). Learn Python in 7 Days. Packt Publishing Ltd.